!!! Strict
%html
  %head
    %title== #{CONFIG.title}: #{CONFIG.tagline}
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
  %body
    #header
      %h1.page_title= CONFIG.title
      %div.tagline= CONFIG.tagline

    #content
      %ul
        - @feed.items.each do |item|
          %li
            %a.author{ :href => item.author.split(/\n/)[1].strip }
              %img.avatar{ :src => item.image }
              %span.name= extract_author_name(item.author)
            %a.published{ :href => item.link }
              %span.date= item.published.localtime.strftime('%B %d')
              %span.time
                %span.hour>= item.published.localtime.strftime('%I')
                %span.minute>= ':'+item.published.localtime.strftime('%M')
                %span.meridian= item.published.localtime.strftime('%p')
            %p.content= prepare_content(item.content)
            
    #footer
      /
        %p 
          We&apos;re searching twitter for &ldquo;
          %span.query>= CONFIG.query
          \&rdquo;
      %p
        a tiny project by
        %a{ :href => 'http://reidbeels.com' } Reid Beels